.dg1 {
    margin: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
}

.dg img {
    width: 100%;
}

.dg p {
    font-size: 1.1em;
    text-align: justify;
}

.dg small {
    /*font-style: italic;*/
}

.dg2 {
    margin: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 15px;
}